@font-face {
    font-family: 'Arimo';
    src: url('./fonts/Arimo-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Arimo-Italic';
    src: url('./fonts/Arimo-Italic-VariableFont_wght.ttf') format('truetype');
}