@tailwind base;
@tailwind components;
@tailwind utilities;

.font-Arimo {
    font-family: "Arimo", sans-serif;
}

.font-Arimo-Italic {
    font-family: "Arimo-Italic", sans-serif;
}

.cursor-zoom-in {
    cursor: zoom-in;
}

.background-animate {
    background-size: 200%;

    -webkit-animation: AnimateBackground 3s ease infinite;
    -moz-animation: AnimateBackground 3s ease infinite;
    animation: AnimateBackground 3s ease infinite;
  }

@keyframes AnimateBackground {
    0%,
    100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

@keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
.marquee {
    animation: marquee 90s linear infinite;
}